{% extends 'base.html' %}

{% block body %}

  <div class="jumbotron banner">
  <a class="btn btn-primary btn-lg" href="{% url 'blog:create_post'%}" role="button">Add new post</a>
  </div>

    {% for post in all_posts %}
       <div class="col-md-4">
      <div class="card">
        {% if post.img %}
        <img src="{{post.img.url}}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.content|safe|truncatewords:10}}</p>
          <a href="{% url 'blog:post' post.id %}" class="btn btn-primary">Know More</a>
        </div>
      </div>
    </div>
   {% endfor %}

{% endblock body %}

